<center><h2>Qual consulta deseja executar?</h2></center>
<div id="info">



<center><fieldset><table rules="rows">

<center><caption>Estatísticas</caption></center>
<tr>
  <center><td>Todas as Crianças Cadastradas </td><td><%= link_to_remote(Crianca.c.length, :update => "conteudo", :url => { :action => "busca"}) %></td></center>
</tr>
<tr>
  <center><td>Crianças Matriculadas </td><td><%= link_to_remote(Crianca.b_u.length, :update => "conteudo", :url => { :action => "busca_unidade"}) %></td></center>
</tr>


<p>Selecione uma unidade: <%= collection_select :unidade, :unidade_id, @unidades, :id, :nome, :include_blank => true %></p>


<%= observe_field 'unidade_unidade_id',
     :update => 'conteudo',
     :url    => { :action => 'un_din' },
     :with   => 'unidade_unidade_id' %>
</table></fieldset></center>

</div>

