<div id="fundo_menu">
<legend>
<td>| <%= link_to_remote('Atualizar Grupo', :url => { :action => "confirma"}) %></td>
<td>| <%= link_to 'Verificar Log', logs_path %>|</td>
<td> <%= link_to 'Voltar', criancas_path %>|</td>
</legend>
<hr align="left" width="60%" color=#9C9C9C size="3"
</div>
<div id="reordenar"></div>