<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>

<div id="estatistica">
<div class="botao">

    <table  border="1" cellpadding="5px"align="rigth" frame="box" rules="rows">
        <tr>
          <td><font size=4><center><b>Estatísticas</b></center></font></td>
       </tr>
        <tr>
           <center>
             <td><font size=3>Total  Crianças  Cadastradas</font> </td>
             <td><font size=3><%= Crianca.c.length%></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Matriculadas </font></td>
             <td><font size=3><%= Crianca.b_u.length %></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Não Matriculadas </font></td>
             <td><font size=3><%= Crianca.b_dm.length%></font></td>
           </center>
        </tr>

    </table>
  </div>
</div>