<div id="fundo_menu">
<legend>| <%= link_to 'Cadastrar Criança', new_crianca_path %>| <%= link_to ' Início' , root_path %> | <td><%= link_to_remote('Consultar', :update => "consul", :url => { :action => "consulta"}) %></td> | <%= link_to 'Voltar', criancas_path %> |</legend>
<hr align="left" width="100%" color=#9C9C9C size="3"
</div>
