
<legend>| <%= link_to 'Cadastrar Criança', new_crianca_path %>| <%= link_to ' Inicio' , root_path %> | <td><%= link_to_remote('Consultar', :update => "consul", :url => { :action => "consulta"}) %></td> |</legend>
<hr align="left" width="22%" color="silver" size="3"

