<br/>
<br/>
<br/>
<div id="posicao">
 <table rules="rows">
  <fieldset>
     <h4 align="center"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5       . </font></h4>
     Sistema de controle de demanda escolar da Prefeitura Municipal de Americana
     desenvolvido pela Secretaria da Educação - SEDUC
     Analistas:<br/>
     > Alexandre Jose Ribeiro Soraes<br/>
     > Naor Garcia Filho
   </fieldset>
   |<%= link_to 'Voltar', criancas_path %>|
  </table>
</div>
