<div id="conteudo">
  <div id="topo">    
      <h1> S I S D E M A N  --  Ver . 0 . 1 </h1>
        <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.0.1       . </font></h4>
  </div>
  <br/>
   <%= render :partial => 'inicio'%>
   <div id="consul">
   </div>
  <br/>
  <div id="listagem">
    <fieldset>
        <center>
          <font size=4><u><b>Estatísticas</b></u></font>
        </center>
        <br/>
        <tr>
           <center>
             <td><font size=3>Total  Crianças  Cadastradas</font> </td>
             <td><font size=3><%= link_to_remote(Crianca.c.length, :update => "listagem", :url => { :action => "busca"}) %></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Matriculadas </font></td>
             <td><font size=3><%= link_to_remote(Crianca.b_u.length, :update => "listagem", :url => { :action => "busca_unidade"}) %></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Não Matriculadas </font></td>
             <td><font size=3><%= link_to_remote(Crianca.b_dm.length, :update => "listagem", :url => { :action => "busca_demanda"}) %></font></td>
           </center>
        </tr>

</fieldset>
  </div>
<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>

</div>




