<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
<script src="/javascripts/jrails.js" type="text/javascript"></script>

<div id="conteudo">
 <div id="topo">
<center><h1><br /><br />Relatório de Criancas</h1></center>
</div>



               <%= render :partial => 'consultas'%>
<br/>
| <%= link_to 'Cadastrar Criança', new_crianca_path %> |
  <a href="javascript:window.print();">Imprimir</a>
| <%= link_to ' Inicio' , root_path %> |

 </div>
