<div id="conteudo">
  <div id="topo">    
      <h1  align="right"> S I S D E M A N  --  Ver . 0 . 1 </h1>
        <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.0       . </font></h4>
  </div>
  <br/>
   <%= render :partial => 'inicio'%>
   <div id="consul">
   </div>
  <br/>

  <%= render :partial => 'estatistica'%>

</div>
<div id="Listagem">

</div>

<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>


