<div id="conteudo">
  <h2 align="center">Graficos</h2>
  <hr><br/><br/>
  <div class="sub-menu-hv">
    <li><%= link_to "Geral", grafico_geral_path%></li>
    <li><%= link_to "Por unidade", grafico_por_unidade_path%></li>
  </div>

  <div id="graficos"></div>
</div>
