<div id="conteudo">
<p>
<div id="topo">
    <h2 align="right">   Cadastros de Professores</h2>
    <h4 align="right"> <font   color="#ff0000"> D E M A N D A --  Ver.1.5       . </font></h4>
   <br/>
</div>


<br/>
 <fieldset>
    <legend><font size=5> Acesso </font></legend>
        <br/>
        <b>Login:</b>
        <%= User.find(@role_user.user_id).login %><br/><br/>
        <b>Nome do Professor:</b>
        <%= Role.find(@role_user.role_id).name %><br/><br/>
        <b>Nível de acesso:</b>
            <%if Role.find(@role_user.role_id).name == 'admin' then%>
      <td align="center">Usuário administrador do sistema. Acesso total.</td>
    <%else%>
      <%if Role.find(@role_user.role_id).name == 'seduc' then%>
        <td align="center">Usuário pertencente ao grupo da secretaria de educação.Acesso total.</td>
      <%else%>
        <%if Role.find(@role_user.role_id).name == 'externo' then%>
          <td align="center">Usuário pertencente ao grupo externo. Acesso Visitante.</td>
        <%end%>
      <%end%>
    <%end%>

  </fieldset>



|<%= link_to 'Alterar', edit_roles_user_path(@role_user) %>
|<%= link_to 'Voltar', roles_users_path %>|
</div>