<div id="conteudo">
  <div id="topo">
    <h1>Cadastro de Grupos</h1>
    <h4 align="right" > <font   color="#ff0000"> S I S D E M A N  --  V1.0       . </font></h4>
  </div>
  <table>
    <p>
      <fieldset>
        <p>
          <b>Nome:</b>
          <%=h @grupo.nome %>
        </p>
        <p>
          <b>Descrição:</b>
          <%=h @grupo.descricao %>
        </p>
      </fieldset>
    </p>
  </table><br/>
  | <%= link_to 'Alterar', edit_grupo_path(@grupo) %> |
  <%= link_to 'Voltar', grupos_path %> |

</div>