<div id="conteudo">
<table bgcolor="red">
<p>
<div id="topo">
    <h1>    Sistema de Demanda Escolar</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.0.1       . </font></h4>
   <br/>
</div>


 </p>
<br />
</table>
<table align="center" border ="1" cellpadding="2" cellspacing="2" width="100%"  bgcolor="silver">
<tr>

<td><br/><center><font size="4"><%= link_to "Crianças", criancas_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Unidades", unidades_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Regiões", regiaos_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Grupos", grupos_path %></font></center><br/></td>
</tr>
<tr>
  
</tr>
</table>


<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>

</div>
