<div id="conteudo">
<table bgcolor="red">
<p>
<div id="topo">
    <h1>
      <br/>
      <br/>
      Sistema de Demanda
    </h1>
</div>


 </p>
<br />
</table>
<table align="center" border ="1" cellpadding="2" cellspacing="2" width="100%" bgcolor="silver">
<tr>

<td><center><font size="4"><%= link_to "Crianças", criancas_path %></font></center></td>
<td><center><font size="4"><%= link_to "Unidades", unidades_path %></font></center></td>
<td><center><font size="4"><%= link_to "Regiões", regiaos_path %></font></center></td>
<td><center><font size="4"><%= link_to "Grupos", grupos_path %></font></center></td>
</tr>
<tr>
  
</tr>
</table>

</div>