<div id="conteudo">
<table bgcolor="red">
<p>
<div id="topo">
  <h1>
      <br/>
      Sistema de Demanda
      <br/>
      </h1>
    <h4 align="right" > <font   color="#ff0000"> S I S D E M A N  --  Ver. 0.1        </font></h4>
   <br/>
</div>


 </p>
<br />
</table>



<table align="center" border ="1" cellpadding="2" cellspacing="2" width="100%" bgcolor="silver">
<tr>

<td><br/><center><font size="4"><%= link_to "Crianças", criancas_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Unidades", unidades_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Regiões", regiaos_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Grupos", grupos_path %></font></center><br/></td>
</tr>
<tr>
  
</tr>
</table>


<table width="170" height="190" border="0" cellspacing="0" cellpadding="0" bgcolor="F7F7F7" align="center">
  <tr id="fundo2" class="clip">
    <td><img src="imagens/americana.jpg" width="7" heigth="7"> </td>
  </tr>
</table>

</div>


