<br/>
<div id="conteudo">
<p>
    <h2 align="right">   Consultas</h2>
<br/>

<br/>
<%if $v == 1 then%>
  | <%= link_to_remote('Voltar', :url => { :action => "consulta"}) %> |
<%else%>
  | <%= link_to 'Voltar', professors_path %> |
<%end%>
<br/>
<br/>
<fieldset>
<p>
<tr><font style="font-size: 12pt">Título:  </font></tr><br/>
  <%= collection_select :funcao, :funcao, @funcao, :funcao, :include_blank => ' -- Selecione -- ' %>
</p>
</fieldset>
</div>
<h1><center><div id="nome_consulta"></div></center></h1>
 <div id="consultas"></div>
 <div id="tempo"></div>

