<div id="menu_principal">

    <h2 align="center">   Relatórios</h2>
   <br/>
  <br>
| <%= link_to ' Voltar' , professors_path %>
| <%= link_to_remote('Relatório de Professores', :url => { :action => "rel_prof"}) %>
| <%= link_to_remote('Visualizar Ficha Pontuação', :url => { :action => "relato_prof"}) %> |
<hr align="left" width="35%" color=#9C9C9C size="3">

</div>