<h1>Cadastro efetuado com sucesso</h1>

<h2>Bem Vindo ao Sistema de controle de Demanda infantil - Sisdemanda</h2>
<h3>Prefeitura Municipal de Americana - Secretaria de Educação</h3>

<p>Obrigado pelo cadastro</p>

<p>
  <b>Usuário / login</b><br/>
  <font color="red"> <%= @user.login %></font>
</p>


Site: <a href="www.sisdemanda.rg3.net">Acessar SisDemanda</a>