<style media="print">
.botao {
display: none;
}
</style>
<div id="conteudo">
<div id="topo">
<h2 align="right">Log's de Ação - S I S D E M A N  --  V1.5       .</h2>
<h4 align="right"> <font size="2"> Americana <%= Time.now.strftime("%d de %B de %Y - %H:%M ") %>horas</font></h4>
</div>
<br/>
<br/>
<table width="30%">
<div class="botao">
<fieldset>
<div id="selecione" align="center">
  <%= render :partial => 'selecione_usuario' %>
</div>
</fieldset>
</div>
</table>
<br />
<div id="log"></div>
<div class="botao">
    <table width="100%">
    <tr>
      |<%= link_to 'Voltar', criancas_path %>|
    </tr>
  </table>

</div>

</div>
